*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  padding: 90px 15px;
}
/*****START DATATABLE******/
th{
  text-transform: capitalize;
  font-weight: 900;
}
/****END DATATABLE*******/
/**********BANNER SECTION START****************/
.banner {
  padding: 90px 15px;
  background-color: #AA151B;
  background-image: linear-gradient(148deg, ivory 0%, #4169E1 74%);
  text-align: center;
  color: white;
}

.banner .banner--content {
  max-width: 1400px;
  height: auto;
  display: block;
  margin: 0 auto;
  background: url("../assets/svg/soap.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}

.banner .banner--content .name {
  text-transform: uppercase;
}

.banner .banner--content .designation {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .banner .banner--content .designation {
    font-size: 70px;
  }
}

.banner .banner--content .tagline {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .banner .banner--content .tagline {
    font-size: 26px;
  }
}
/**********BANNER SECTION END****************/
/*******NAV BAR START SECTION**************/
.sidenavbar-wrapper{
    height: 70px;
    background: #2C3351;
}
.logo{
    float: left;
    position: absolute;
    padding-left: 20px;
    line-height: 70px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 900;
}
.logo a{
    text-decoration: none;
    color: white;
}
.sidenavbar-container{
    max-width: 1000px;
    margin: 0 auto;
}
.sidenavbar{
    float: right;
}
.sidenavbar .sidenavbar-list{
    list-style: none;
}
.sidenavbar .sidenavbar-list .sidenavbar-li{
    float: left;
    position: relative;
}
.sidenavbar .sidenavbar-list .sidenavbar-li .sidenavbar-links{
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #2C3351;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}
.sidenavbar .sidenavbar-list .sidenavbar-li .sidenavbar-links:hover{
    background: gray;
    color: #fff;
}
.sidenavbar .sidenavbar-list .sidenavbar-li .sidenavbar-list .sidenavbar-li {
    min-width: 190px;
}
.sidenavbar .sidenavbar-list .sidenavbar-li .sidenavbar-list .sidenavbar-li .sidenavbar-links{
    padding: 15px;
    line-height: 20px;
}
.sidenavbar-mobile{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
#sidenavbar-toggle{
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 15px 0px;
}

#sidenavbar-toggle .bars,
#sidenavbar-toggle .bars::before,
#sidenavbar-toggle .bars::after{
    position: absolute;
    display: block;
    content: '';
    background: #fff;
    height: 5px;
    width: 35px;
    transition: all 300ms ease-in-out;
}

#sidenavbar-toggle .bars::before{
    top: -10px;
}

#sidenavbar-toggle .bars::after{
    bottom: -10px;
}

#sidenavbar-toggle.active .bars{
    background-color: transparent;
}

#sidenavbar-toggle.active .bars::before, #sidenavbar-toggle.active .bars::after{
    top: 0;
}

#sidenavbar-toggle.active .bars::before{
    transform: rotate(45deg);
}

#sidenavbar-toggle.active .bars::after{
    transform: rotate(-45deg);
}

@media only screen and (max-width: 768px) {

    .sidenavbar-mobile{
        display: block;
    }
    #sidenavbar-toggle .bars{
      color: red;
      background-color: #2C3351;
    }
    .sidenavbar{
        width: 100%;
        padding: 70px 0 15px;
    }

    .sidenavbar .sidenavbar-list{
        display: none;
    }

    .sidenavbar .sidenavbar-list .sidenavbar-li {
        float: none;
    }
    .sidenavbar .sidenavbar-list .sidenavbar-li .sidenavbar-links{
        padding: 15px;
        line-height: 20px;
        padding-left: 25%;
    }
    .sidenavbar .sidenavbar-list .sidenavbar-li .sidenavbar-list .sidenavbar-li .sidenavbar-links{
        padding-left: 30%;
    }
}

@media screen and (min-width: 799px){
    .sidenavbar-list{
        display: block !important;
    }
}
/**********sidenavbar SECTION END****************/
/**********PROMO SECTION START****************/
.promo {
  background-color: #F1BF00 ;
  background-image: linear-gradient(147deg, ivory 0%, #4169E1 74%);

}

.promo .content h2 {
  font-size: 36px;
  font-weight: 300;
  color: #222;
  text-shadow: 0 1px 2px #222;
}

@media screen and (min-width: 768px) {
  .promo .content h2 {
    font-size: 70px;
  }
}

.promo .content h2 span.orange {
  font-weight: 700;
}

.promo .content p {
  font-size: 22px;
}

@media screen and (min-width: 768px) {
  .promo .content p {
    font-size: 36px;
  }
}
/**********PROMO SECTION END****************/
